<div class="form-container">
  <div class="new-form">
    <h3><i class="fa fa-glass" aria-hidden="true"></i> Edit <%= @cocktail.name %></h3>
    <%= render 'form', cocktail: @cocktail %>
  </div>
</div>
