<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render 'shared/card', { cocktail: cocktail }%>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="text-center add-button">
    <%= link_to "Add a cocktail", new_cocktail_path, class: "primary-button-full" %>
  </div>
</div>
