<%= link_to cocktail_path(cocktail) do %>

  <% if cocktail.url %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.url %>);">
  <% else %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("https://i.pinimg.com/564x/e1/44/4c/e1444c2aefbbbaab465d896baf29703a.jpg");">
  <% end %>

    <div class="card-category"><i class="fa fa-heart" aria-hidden="true"></i></div>
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
    </div>
  </div>
<% end %>
