<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h3>Cul sec !</h4>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item primary-button" %>
  </div>
</div>
