.primary-button {
  color: $teal;
  border: 1px solid $teal;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  transition: 0.5s background-color ease;
  &:hover {
    color: white;
    background-color: $teal;
    text-decoration: none;
  }
}

.primary-button-full {
  color: white;
  background-color: $teal;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid $teal;
  transition: 0.5s background-color ease;
  &:hover {
    color: $teal;
    background-color: white;
    text-decoration: none;
  }
}

.button-large {
  padding: 10px 30px;
  font-size: 16px;
}
